{% extends 'base.html' %}

{% load bootstrap4 %}
{% load random_image %}
{% load static %}

{% block content %}
<div class="account-main">
  <div class="row">
      {% include 'sidebar.html' %}
      <main role="main" class="col-md-9 ml-sm-auto col-sm-10 px-4 border border-dark">
        <h3>Password Change</h3>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <form method="POST">
              {% csrf_token %}
              {% bootstrap_form password_form %}
              <button type="submit" class="btn btn-primary">제출</button>
          </form>
        </div>
      </main>  
  </div>
</div>
<img src="{% static 'good_articles/' %}{% image_num %}.jpg" class="good_article">

{% endblock %}